h1{
  color:#F6E8EA;
  font-family:Exo 2;
  font-size: 40px;
}

h2{
  color: #17BEBB;
  font-family:Exo 2;
  font-size: 30px;
}

h3{
  color: rgb(50,50,50);
  font-family:Exo 2;
  font-size: 20px;
}

p{
  color: #F6E8EA;
  font-family:Josefin;
  font-size: 20px; 
}

#titre{
  border-width:5px;
  background-color:#000E1C;
  text-align:center;
  background-image:url("images/meca.png");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  padding: 100px;
  margin:0;
}

.barrehaute{
  background-color:#1B1F3B;
  padding: -125px;
  margin:0;
}

.cta{
  background-color:#454ADE;
  padding:20px;
  margin: 0px;
  margin-top: 0px;
}

#description{
  border-width:2px;
  padding:70px;
  height: 270px;
  background-color:#1B1F3B;
  margin-bottom:50px;
  text-align:center;

}

#information{
  margin-bottom: 50px;
}
.card{
  padding:80px; 
  border:double 5px black;
  border-radius: 5px;
  text-align: center;
}

.card i{
  color:rgb(50,50,50);
  font-size: 100px;
}

#fin{
  width:200px
  height:200px
  border-width:2px;
  border-radius:5px;
  box-shadow: 2px 2px 2px black;
  padding:5px;
  background-color:black;
  margin:0;
  text-align:left;
}

#fin a{
  color:white;
  font-size: 40px;
}
#fin p{
  color:white;
  font-size: 20px;
}

#cashbar{
  margin:0;
  text-align:right;
}

